<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpm.mapper.add.AddHouseMapper">
	<insert id="addHouse" parameterType="House">
		insert into house_t(housename,room,hall,kitchen,toilet,acreage,price,rent,t_type,t_types,balcony,from_id)
		values(#{housename},#{room},#{hall},#{kitchen},#{toilet},#{acreage},#{price},#{rent},#{t_type},#{t_types},#{balcony},#{from_id})
	</insert>
</mapper>